.idea/*
out/*
target/*
dependency-reduced-pom.xml
document-archiver.iml
/src/daResources/install4j/document-archiver-1.3.0.install4j
/src/daResources/install4j/document-archiver-1.4.0-SNAPSHOT.install4j
